{% load static %}
<!DOCTYPE html>
<html lang="en" dir="">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HospitApp</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/css/themes/lite-purple.min.css' %}">
</head>

<body class="text-left">
    <div class="auth-layout-wrap" style="background-image: url({% static 'images/tmpn.jpg' %})">
        <div class="auth-content">
            <div class="card o-hidden">
                <div class="row">
                    <div class="col-md-6 text-center " style="background-color:#ADD8E6">
                        <div class="pl-3 auth-right">
                            <div class="auth-logo text-center mt-4">
                                <img src="{% static 'images/logo.png' %}" alt="">
                            </div>
                            <div class="flex-grow-1"></div>
                            <div class="w-100 mb-4">
                                <a class="btn btn-outline-primary btn-block btn-icon-text btn-rounded" href="signin">
                                    <i class="i-Mail-with-At-Sign"></i> Sign in 
                                </a>
                       

                            </div>
                            <div class="flex-grow-1"></div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="p-4">

                            <h1 class="mb-3 text-18">Sign Up</h1>
                            <form action="signup_government" method="Post">
                                <div class="form-group">
                                    <label for="firstname">First name</label>
                                    <input id="firstname" name="firstname" class="form-control form-control-rounded" type="text">
                                </div>
                                <div class="form-group">
                                    <label for="lastname">Last name</label>
                                    <input id="lastname"  name="lastname" class="form-control form-control-rounded" type="text">
                                </div>
                                <div class="form-group">
                                    <label for="username">User name</label>
                                    <input id="username" name="username" class="form-control form-control-rounded" type="text">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email address</label>
                                    <input id="email" name="email" class="form-control form-control-rounded" type="email">
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input id="password" name="password" class="form-control form-control-rounded" type="password">
                                </div>
                                <div class="form-group">
                                    <label for="repassword">Retype password</label>
                                    <input id="repassword" name="repassword" class="form-control form-control-rounded" type="password">
                                </div>
                                <button class="btn btn-primary btn-block btn-rounded mt-3">Sign Up</button>
                            </form>
                            <div>
                                {% for message in messages %}
                                <h3>{{message}}</h3>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{%static 'js/vendor/jquery-3.3.1.min.js' %}"></script>
    <script src="{%static 'js/vendor/bootstrap.bundle.min.js' %}"></script>
    <script src="{%static 'js/es5/script.min.js' %}"></script>
</body>

</html>